@model IEnumerable<RockTransactions.Models.Notification>
@using RockTransactions.Data.Enums

@{
    ViewData["Title"] = "Index";
    var script = TempData["Script"];
}

<div class="row">
    <div class="col-md mt-3">
        <h1>Notifications</h1>
        @if (User.IsInRole(Roles.Admin.ToString()))
        {
            <p><a asp-action="Create" class="btn btn-outline-primary">New Notification</a></p>
        }
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseHold)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Body)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsRead)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.HouseHold.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.Raw(item.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsRead)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script>
        @Html.Raw(script)
    </script>
}