@model IEnumerable<RockTransactions.Models.Attachment>
@inject RockTransactions.Services.IFPFileService _fileService
@{
    ViewData["Title"] = "Statements";
    var script = TempData["Script"];
}

<div class="row">
    <div class="col-md mt-3">
        <h1>Statements</h1>
        <p><a asp-action="Create" class="btn btn-primary" data-toggle="modal" data-target="#statementModal">Add Statement</a></p>
        <table class="table table-responsive-md datatable">
            <thead>
                <tr>
                    <th>
                        File Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContentType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Uploaded)
                        </td>
                        <td>
                            <a asp-action="Statement" asp-route-id="@item.Id">View</a> |
                            <a asp-action="Download" asp-route-id="@item.Id">Download</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_StatementModalPartial")

@section scripts {
    <script>
        @Html.Raw(script)
    </script>
}