@model IEnumerable<RockTransactions.Models.CategoryItem>
@using System.Globalization;
@using System.Threading;

@{
    ViewData["Title"] = "Items";
    Thread.CurrentThread.CurrentCulture = new CultureInfo("en-US");
    var script = TempData["Script"];
}

<div class="row">
    <div class="col-md mt-3">
        <h1>Category Items</h1>
        <p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#itemModal">
                New Item
            </button>
        </p>
        <table class="table table-responsive-md datatable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TargetAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActualAmount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @item.TargetAmount.ToString("C", CultureInfo.CurrentCulture)
                        </td>
                        <td>
                            @(((decimal)item.ActualAmount).ToString("C", CultureInfo.CurrentCulture))
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("../Households/_ItemModalPartial")

@section scripts {
    <script>
        @Html.Raw(script)
    </script>
}